@model Cibertec.Models.Suppliers

<h2>Delete Supplier</h2>
<div>
    <h4>Suppliers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

    </dl>

    @Messages.Message("inUse", "Delete", "danger", "Este Cliente está en uso en este momento.")

    @using (Ajax.BeginForm("SupplierDeletePost", new { Controller = "Supplier" },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "modal-body",
                            OnSuccess = "supplier.success('delete');"
                        },
                        htmlAttributes: new { id = "deleteForm" }
                      )
        )
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" id="btn-save">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");
        $('#inUse').addClass('hidden');
        supplier.addSupplier("@Model.SupplierID");
        supplier.validate("@Model.SupplierID");
    });

    supplier.closeModal = function () {
        if (!supplier.recordInUse)
            supplier.removeHubSupplier("@Model.SupplierID");
    };
</script>
